.ourmission{
   background-image: url(https://www.smartbank.com/wp-content/uploads/422ee27561252aaa22fb61bd5e64e88d.jpg); 
   background-repeat: no-repeat;
   background-size: cover;
    background-position: 80%% 100%;
}
.info{
    background-color: rgba(255,255,255,0.8);
    
}
.row{
    grid-template-columns: repeat(2,1fr);
}
h1{
    font-size: 35px;
    font-weight: 600;
}
h2{
    font-size: 25px;
}
